// Configuration file for sc-visium-10x pipeline 

params {

       /* 
       	  =====================
          SET THE FOLLOWING 2 (OR 3) VARIABLES MANUALLY 
          =====================
       */

       	// Project ID (2021_XXX) or Run ID (date: e.g. YYMMDD-10x) 
	metaid = "2021_031"
	// Folder of experiment raw data (must be in /nas-sync/upload/)
	runfolder = "210406_A00681_0338_BH27JCDRXY" 
	// Custom Genome - if not Human/Mouse standard ref
	custom_genome = ""

	/*
	   =================
	   AUTOMATIC PARAMS 
	   =================
	*/

	// Sample-sheet (must be in $basedir/scr/)
	ssheet = "samplesheet.csv"

	// Base ctg-outdir: 
 	outdir = "/projects/fs1/nas-sync/ctg-delivery/visium-10x/${metaid}/"

	experiment = "/projects/fs1/nas-sync/upload/${runfolder}"
	basedir = "/projects/fs1/medpvb/proj/visium-10x/${metaid}/"
	sheet = "${basedir}/scr/${ssheet}"
	fqdir = "${outDir}fastq/"
	countdir = "${outDir}count/"
	qcdir = "${outDir}qc/"
	sumdir = "${outDir}summaries/"
	imagedir = "${projdir}/images/"
	ctgqc = "/projects/fs1/shared/ctg-qc/visium-10x/${metaid}"

}

// Define SLURM specs
process {
	executor='slurm'
	container = '/projects/fs1/shared/ctg-containers/spaceranger/spaceranger.v1/spaceranger_v1.2.2.sif'
	time='5h'
	cpus='8'

	withName:mkfastq {
		time='24h'
		cpus='20'
		memory='100 GB'
	}
	withName:count {
		executor='slurm'
		time='2d'
		cpus='20'
		memory='130 GB'
	}

}


singularity {
	    enabled = true
	    runOptions = '--bind /projects/fs1/'
}
