// Configuration file for sc-visium-10x pipeline 

params {

       	// project id (2021_XXX) or run id  (date: e.g. YYMMDD-10x) 
	metaid = "2021_075"

	// folder of raw sequencing data (must be in /nas-sync/upload/)
	run = "210602_A00681_0383_BHFG5YDRXY"
	runfolder = "/projects/fs1/nas-sync/upload/${run}"

	// customgGenome (full path) - if not Human/Mouse standard ref
	custom_genome = ""

	// sample-sheet (must be in $basedir/scr/)
	ssheet = "samplesheet.csv"

	// reference GPR slide files
	slideref = "/projects/fs1/shared/references/visium/slidefiles"

	// base dir: contain all scripts and metadata needed for pipeline. 
	basedir = "/projects/fs1/medpvb/proj/visium-10x/${metaid}/"
	imagedir = "${basedir}/images/"

	// samplesheet: original input samplesheet (used directly in demux, and rows after [Data] will be parsed for channels.
	sheet = "${basedir}/${ssheet}"

	// ctg-outdir (where all data will be written for delivery): 
 	outdir = "/projects/fs1/nas-sync/ctg-delivery/visium-10x/${metaid}/"

	fqdir = "${outdir}fastq/"
	countdir = "${outdir}count/"
	qcdir = "${outdir}qc/"
	sumdir = "${outdir}summaries/"

	// QC - logging (for local storage - not delivery)
	ctgqc = "/projects/fs1/shared/ctg-qc/visium-10x/${metaid}"

}

// Define SLURM specs
process {
	executor='slurm'
	container = '/projects/fs1/shared/ctg-containers/spaceranger/spaceranger.v1/spaceranger_v1.2.2.sif'
	time='5h'
	cpus='8'

	withName:mkfastq {
		time='24h'
		cpus='20'
		memory='100 GB'
	}
	withName:count {
		executor='slurm'
		time='2d'
		cpus='16'
		memory='120 GB'
	}

}


singularity {
	    enabled = true
	    runOptions = '--bind /projects/fs1/'
}
