// Configuration file for sc-visium-10x pipeline 

params {

       /* 
       	  =====================
          SET THE FOLLOWING 2 (OR 3) VARIABLES MANUALLY 
          =====================
       */

       	// Project ID (2021_XXX) or Run ID (date: e.g. YYMMDD-10x) 
	metaid = "2021_075"
	// Folder of experiment raw data (must be in /nas-sync/upload/)
	run = "210602_A00681_0383_BHFG5YDRXY"
	// Custom Genome - if not Human/Mouse standard ref
	custom_genome = ""

	/*
	   =================
	   AUTOMATIC PARAMS 
	   =================
	*/

	// Sample-sheet (must be in $basedir/scr/)
	ssheet = "samplesheet.csv"

	// Base ctg-outdir: 
 	outdir = "/projects/fs1/nas-sync/ctg-delivery/visium-10x/${metaid}/"

	runfolder = "/projects/fs1/nas-sync/upload/${run}"
	basedir = "/projects/fs1/medpvb/proj/visium-10x/${metaid}/"
	sheet = "${basedir}/${ssheet}"
	fqdir = "${outdir}fastq/"
	countdir = "${outdir}count/"
	qcdir = "${outdir}qc/"
	sumdir = "${outdir}summaries/"
	imagedir = "${basedir}/images/"
	ctgqc = "/projects/fs1/shared/ctg-qc/visium-10x/${metaid}"

	// reference GPR slide files
	slideref = "/projects/fs1/shared/references/visium/slidefiles"
}

// Define SLURM specs
process {
	executor='slurm'
	container = '/projects/fs1/shared/ctg-containers/spaceranger/spaceranger.v1/spaceranger_v1.2.2.sif'
	time='5h'
	cpus='8'

	withName:mkfastq {
		time='24h'
		cpus='20'
		memory='100 GB'
	}
	withName:count {
		executor='slurm'
		time='2d'
		cpus='16'
		memory='120 GB'
	}

}


singularity {
	    enabled = true
	    runOptions = '--bind /projects/fs1/'
}
